<div class="ngdialog-message popup-bg col-md-12" data-ng-controller="mainController as main">
	<h3 class="form-title">Forgot Password</h3>
		<div class="loginsec2 clearfix">
		<form name="loginForm" ng-submit="main.passwordSubmit(data)" novalidate> 
			<div class="form-group userfontawsme">
				<input ng-model="data.email" id="Email" class="text_input form-control " maxlength="50"  name="username" placeholder="Email Id" type="email" required>
				<div class="mandatory" ng-show="(!loginForm.username.$valid && loginForm.username.$dirty) && loginForm.$submitted">Password is not valid</div>
			</div>
				<input id="login" ng-disabled="!loginForm.username.$valid" name="email" class="blue-btn btn btn-primary btnfontawsme" value="Reset My Password" type="submit">
		</form>	
</div>