
	<div class="main-content">
		<div class="page-banner history-img clearfix">
			<img src="assets/img/banner_4.png"  />
			<div class="banner-content">
				<h3>My</h3>
				<h2>History</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
			</div>
			</div>
			
			<div class="inner-page clearfix">
			<div class="container">			
			<div class="patient-tb table-responsive">
			<div class="heading-design"><img src="assets/img/logo_p.png" />			
			<h3><span>My</span> History</h3>
			</div>
			<table class="table" >
			<thead>
			<tr>
			<th></th>
			<th>Treatment List</th>
			<th>Appointment Date</th>
			<th>Received on</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>
			<div class="checkbox-style">								
			<input  type="checkbox" name="checkbox" ng-model="" value="" class="reqcheckbox" id="select2">
			<label for="select1"><span></span></label>
			</div></td>
			<td>Blood Checkup</td>
			<td>11/09/2016</td>
			<td>11/09/2016-10.30AM</td>
			<td class="action-i"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
			</tr>
			<tr>
			<td><div class="checkbox-style">								
			<input  type="checkbox" name="checkbox" ng-model="" value="" class="reqcheckbox" id="select2">
			<label for="select1"><span></span></label>
			</div></td>
			<td>Blood Checkup</td>
			<td>11/09/2016</td>
			<td>11/09/2016-10.30AM</td>
			<td class="action-i"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
			</tr><tr>
			<td><div class="checkbox-style">								
			<input  type="checkbox" name="checkbox" ng-model="" value="" class="reqcheckbox" id="select2">
			<label for="select1"><span></span></label>
			</div></td>
			<td>Blood Checkup</td>
			<td>11/09/2016</td>
			<td>11/09/2016-10.30AM</td>
			<td class="action-i"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
			</tr><tr>
			<td><div class="checkbox-style">								
			<input  type="checkbox" name="checkbox" ng-model="" value="" class="reqcheckbox" id="select2">
			<label for="select1"><span></span></label>
			</div></td>
			<td>Blood Checkup</td>
			<td>11/09/2016</td>
			<td>11/09/2016-10.30AM</td>
			<td class="action-i"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
			</tr>
			</tbody>
			</table>
			</div>
			</div>
			</div>
			
	</div>
		
	
	
	