	<div class="main-content">
		<div class="page-banner clearfix">
			<img src="assets/img/banner_1.png"  />
			<div class="banner-content">
				<h3>WE Provide</h3>
				<h2>Medical Services</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
			</div>
		</div>
		<div class="wlcme-practys">
			<div class="container">
				<div class="col-md-6">
				 <!-- <button ng-click="slider.prev()">Prev Slide</button>
					<button ng-click="slider.next()">Next Slide</button> -->
					<simple-slider style="width:612px; height:612px">
								  <img src="http://placekitten.com/g/612/612"/>
								  <img src="https://unsplash.it/612/612/?random=0"/>
								  <img src="https://unsplash.it/612/612/?random=1"/>
								  <img src="https://unsplash.it/612/612/?random=2"/>
					</simple-slider>

				</div>
				<div class="col-md-6 welcome-content">
					<h3>Welcome to <span>practys</span></h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
					<ul>
						<li>orem Ipsum is simply dummy text of the printing and typesetting industry</li>
						<li>orem Ipsum is simply dummy text of the printing and typesetting industry</li>
						<li>orem Ipsum is simply dummy text of the printing and typesetting industry</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="detail-block clearfix">
			<div class="container">
				<div class="col-md-4 det-bg">
					<div class="det-img">
						<img src="assets/img/icon_appointment_unsel.png" class="normal-img" />
						<img src="assets/img/icon_appointment_sel.png" class="hover-img" />
					</div>
					<h4>Appointments</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				</div>
				<div class="col-md-4 det-bg">
					<div class="det-img">
						<img src="assets/img/icon_records_unsel.png" class="normal-img" />
						<img src="assets/img/icon_records_sel.png" class="hover-img" />
					</div>
					<h4>Medical Records</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				</div>
				<div class="col-md-4 det-bg">
					<div class="det-img">
						<img src="assets/img/icon_history_unsel.png" class="normal-img"  />
						<img src="assets/img/icon_history_sel.png"  class="hover-img" />
					</div>
					<h4>Billing History</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				</div>
			</div>
		</div>
		<div class="make-appoint clearfix">
			<div class="container">
			<div class="col-md-4">
			</div>
			<div class="col-md-8">
			<form action="" name="" class="app-form">
				<h3>Make An Appointment</h3>
				<div class="col-md-6">
					<div class="form-group">
						<div class="styled-select slate">
						<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						</select>
						</div>
					</div>
					<div class="form-group">
						<div class="styled-select slate">
						<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						</select>
						</div>
					</div>
					<input type="text" class="form-control" placeholder="Time">
				</div>
				<div class="col-md-6">
					<select class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					</select>
					<input type="text" class="form-control" placeholder="Date">
				</div>
				<textarea class="form-control" rows="3"></textarea>
				<button type="submit" class="btn btn-primary">Book an appointment</button>
				</form>
			</div>
			</div>
		</div>
		<div class="gt-touch clearfix">
			<h3>Get in touch</h3>
			<div class="co1-md-12 clearfix">
			<label class="col-md-4"><input type="text" class="form-control" placeholder="Name"></label>
			<label class="col-md-4"><input type="text" class="form-control" placeholder="Email"></label>
			<div class="col-md-4"><select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			</select>
			</div>
			</div>
			<div class="co1-md-12 msg-blk clearfix">
			<div class="col-md-8"><textarea class="form-control" rows="5"></textarea></div>
			<div class="col-md-4"><button type="submit" class="btn btn-primary">Send</button></div>
			</div>
		</div>
	</div>
