<!--  myrecords - display patient's doctor details    -->
	<div class="page-banner history-img clearfix">
		<img src="assets/img/banner_2.png" />
		<div class="banner-content">
			<h3>Make</h3>
			<h2>Appointment</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
		</div>
	</div>
	<div class="inner-page clearfix">
		<div class="container">		
			<div class="myapp-pg common-wdth">
				<div>
					<div ui-view="myappointment"></div>
				</div>
				<div id='v1'>
					<div ui-view="makeappointment"></div>
				</div>
			</div>	
		</div>
	</div>
