<!-- patient details view -->

<div class="detail-block clearfix">
			<div class="container">
				<div class="col-md-4 det-bg ">
					<div class="det-img hvr-rectangle-in">
						<img src="assets/img/icon_appointment_unsel.png" class="normal-img" />
						<img ui-sref="appointment" src="assets/img/icon_appointment_sel.png" class="hover-img" />
					</div>
					<h4>Appointments</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				</div>
				<div class="col-md-4 det-bg ">
					<div class="det-img hvr-rectangle-in">
						<img src="assets/img/icon_records_unsel.png" class="normal-img" />
						<img ui-sref="myrecord" src="assets/img/icon_records_sel.png" class="hover-img" />
					</div>
					<h4>Medical Records</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				</div>
				<div class="col-md-4 det-bg ">
					<div class="det-img hvr-rectangle-in">
						<img src="assets/img/icon_history_unsel.png" class="normal-img"  />
						<img ui-sref="billingHistory" src="assets/img/icon_history_sel.png"  class="hover-img" />
					</div>
					<h4>Billing History</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				</div>
			</div>
		</div>